<div class="container-sm ">
    <h2 class="parastyle">Popular Dishes</h2>
    <div class="card-deck">
    <div class="card border-dark" style="width: 18rem; border-style: solid; border-radius: 15px;" >
        <a><img src="{{ './assets/images/' + 'muttonbriyani.jpg' }}" class="card-img-top" alt="..." style="width: 14rem;margin-left: 15px; margin-top: 15px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div></a>&nbsp;
    </div>
        <div class="card border-dark" style="width: 18rem; border-style: solid; border-radius: 15px;" >
            <a><img src="{{ './assets/images/' + 'muttonbriyani.jpg' }}" class="card-img-top" alt="..." style="width: 14rem;margin-left: 15px; margin-top: 15px;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div></a>
            </div>
            <div class="card border-dark" style="width: 18rem; border-style: solid; border-radius: 15px;" >
                <a><img src="{{ './assets/images/' + 'muttonbriyani.jpg' }}" class="card-img-top" alt="..." style="width: 14rem;margin-left: 15px; margin-top: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div></a>
                </div>
                <div class="card border-dark" style="width: 18rem; border-style: solid; border-radius: 15px;" >
                    <a><img src="{{ './assets/images/' + 'muttonbriyani.jpg' }}" class="card-img-top" alt="..." style="width: 14rem;margin-left: 15px; margin-top: 15px;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div></a>
                    </div>
                </div>
</div>

